<div class="container">
	<div class="row">
		<h1>Bugs</h1>
		<a href="/bugs/new">New Bug</a>
		<br><br>
		<% @bugs.each do |bug| %>
			<a href="/bugs/<%= bug['id'] %>"><%= bug['title'] %> (<%= bug['type'] %>)</a><br>
		<% end %>
	</div>
</div>