<div class="container">
	<div class="row">
		<div class="col">
			<img src="https://static.winecountrybride.com/assets/logos/logo-5d74758f705b629e6d5bd3227557bf8058dd2658bfbf3256eaf811ad3f9f3629.svg" width="240px" />
		</div>
	</div>
	<div class="row">
		<h1>Dashboard</h1>
	</div>
</div>