<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Bug Tracker</title>
	</head>
	<body>
		<%= yield %>
		<br><br><form action="/logout" method="post"><button type="submit">Sign Out</button></form>
	</body>
</html>