<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Bug Tracker</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col">
					<img src="https://static.winecountrybride.com/assets/logos/logo-5d74758f705b629e6d5bd3227557bf8058dd2658bfbf3256eaf811ad3f9f3629.svg" width="240px" />
				</div>
			</div>
			<div class="row">
				<form action="/login" method="post">
					<div class="group">
						<label>Email</label>
						<input type="email" name="email" />
					</div>
					<div class="group">
						<label>Password</label>
						<input type="password" name="password" />
					</div>
					<div class="group">
						<button type="submit">Sign In</button>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>